<h1>Verified</h1>

<p>This email address has already been verified. The verification has not yet expired.
Click <%= link_to('Continue', @verify_email.continue_to %> to attempt to retry the next steps.
</p>
